body {
  background-color: #BBDEFB;
  margin: 0px;
  padding: 20px 40px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #303030;
  font-weight: normal;
}

table {
  background-color: #FFFFFF;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2em;
  margin-left: 10px;
  width: calc(100% - 30px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

tr:nth-child(even) {
  background-color: #CDE1FE;
}

tr:nth-child(even) {
  background-color: BlanchedAlmond;
}

td {
  font-weight: normal;
  font-size: 0.9em;
  padding: 5px 10px;
  background: #FFFFFF; 
  border-bottom: 1px solid #C2C2C2;
  color: #616161;
  vertical-align: middle;
}

th {
  font-weight: bold;
  font-size: 1em;
  padding: 6px 10px;
  background: #F57F21;
  border-bottom: 1px solid #fff;
  color: #FFFFFF;
  vertical-align:middle;
}

#tablist {
  padding: 10px;
  background: #616161;
  font-size: 0.8em;
  font-weight: normal;
  min-height: 1.4em;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#tablist ul {
  padding: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#tablist li {
  list-style: none;
  display: inline;
  margin-left: 0px;
  padding: 0px 10px;
  border-right: 2px solid white;
}

#tablist a {
  display: inline;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none;
}