Source:       idp-tools-ldap-ui
Maintainer:   GENI Project Office <gpo-tech@bbn.com>
Section:      contrib/misc
Priority:     extra
Homepage:     http://groups.geni.net/geni/
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.8.4

Package:      idp-tools-ldap-ui
Architecture: all
Depends:      ${shlibs:Depends}, ${misc:Depends}, apache2
Description:  UI tools for LDAP-based GENI Identity Provider
 Web UI for requesting an account on an LDAP-based GENI Identity Provider
