Source: geni-ar
Section: contrib/misc
Priority: extra
Maintainer: Tom Mitchell <tmitchel@bbn.com>
Build-Depends: debhelper (>= 7.0.0), python-support
Standards-Version: 3.8.4
Homepage: http://trac.gpolab.bbn.com/idp-tools

Package: geni-ar
Architecture: all
Depends: php5, php5-pgsql, php-mdb2-driver-pgsql, php5-ldap,
 ${misc:Depends}, ${python:Depends}
Recommends: apache2
Description: GENI account request management
 Manages GENI IdP account requests. Account requests can be viewed and
 handled via a web interface. Current LDAP accounts can also be
 managed via web pages.
